@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/subsets/Pretendard-dynamic-subset.css');
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.otf') format('opentype');
    font-weight: normal;  /* Thin 폰트는 기본적으로 normal로 설정됩니다. */
    font-style: normal;
    font-display: swap;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }


@font-face {
    font-family: 'Andale Mono';
    src: url('https://fonts.cdnfonts.com/css/andale-mono') format('truetype');
}

@font-face {
    font-family: 'Akira Expanded';
    src: url('https://fonts.cdnfonts.com/css/akira-expanded') format('truetype');

}

@keyframes fadeIn {
    from {
        opacity: 0;          /* Start fully transparent */
        transform: translateY(20px); /* Slightly lower position */
    }
    to {
        opacity: 1;          /* Fully visible */
        transform: translateY(0);    /* Original position */
    }
}

/* Apply animation to elements */
.fade-in {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1s ease-out forwards; /* 1s fade-in effect */
    animation-delay: 0.5s; /* Optional: Delay the start */
}

body {
    margin: 0; /* 기본 여백 제거 */
    display: flex; /* 중앙 정렬용 */
    flex-direction: column;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    text-align: center;
    /* background-image: url('https://github.com/lukakas0213/Web-portfolio/blob/d19c9ca7bb00c1f024e20d86f7af628008ac6ccd/home%20bg.png?raw=true'); 배경 이미지 URL */
    /* background: linear-gradient(to bottom,#aced98 20%, #ffffff 40%) */
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-image: url('https://github.com/lukakas0213/Portfolio_Website_final/blob/4e69c58af1c229535c262423a7be91691cccb72e/Lucas%20Park%20Final%200121/1.%20Home/bgbg.png?raw=true');
    background-size: 100% 100%; /* 세로에 맞게 크기 조정, 가로는 비율에 맞춰 자동 조정 */
    background-repeat: no-repeat; /* 반복 없음 */
    background-position: center;
}

.home {
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: top; /* 세로 중앙 정렬 */
    width: 100vw;
    height: 100vh; /* 픽셀로 고정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    background-image: url('https://github.com/lukakas0213/Portfolio_Website_final/blob/f9987462b86cc6d24bb5cab0cf7bde1567c76f68/Lucas%20Park%20Final%200121/1.%20Home/color%20bg.png?raw=true');
    background-repeat: no-repeat; /* 반복 없음 */
    background-size: 100% 120%;    /* 이미지 비율 유지 */
  
}


.homeName {
    font-family: "Akira Expanded";
    font-size: 120px;     /* 고정된 폰트 크기 */
    font-weight: 800;     /* Thin 폰트 두께를 400으로 설정 */
    color: white;
    margin-top: 35px;
    font-style: normal;
    white-space: nowrap; /* 텍스트를 한 줄로 고정 */
    overflow:visible;    /* 텍스트가 넘칠 경우 잘리게 설정 */
}

.homePics{
    justify-content: center; /* 이미지가 가로로 중앙에 정렬되도록 */
    align-items: center; /* 이미지가 세로로 중앙에 정렬되도록 */
    position: relative; /* 자식 요소의 z-index 기준이 되는 부모 컨테이너 */

}
.LucasMemoji {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    margin-top:-15px;
    margin-left: 70px;
    width: 430px;
    height: auto;
    z-index: 1 !important; /* Clogo보다 앞에 배치 */
    position: relative;
}

.Clogo {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 120px;
    height: auto;
    z-index: 0 !important; /* LucasMemoji 뒤로 배치 */
}

.TensorflowLogo{
    position:absolute;
    top: 80px;
    left: 460px;
    width:140px;
    height: auto;
}

.PythonLogo{
    position:absolute;
    top: 90px;
    left: -220px;
    width:140px;
    height: auto;
}

.JSLogo{
    position:absolute;
    top: 240px;
    left: -30px;
    width:130px;
    height: auto;
}

.JavaLogo{
    position:absolute;
    top: 220px;
    left: 600px;
    width: 120px;
    height: auto;
    z-index: 3 !important;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation: hvr-pulse-grow 0.9s linear infinite alternate; /* 애니메이션을 기본적으로 적용 */
}


/* 타이핑 효과 */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000; /* 커서 효과 */
    width: 0; /* 시작은 0 크기 */
    animation: typing 3s steps(50) 1s forwards, blink 0.75s step-end infinite; /* 타이핑 애니메이션 후 깜빡임 애니메이션 반복 */
}

/* 깜빡이는 커서 */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.homeStatementBox{
    position: relative;
    margin-top: 10px;
}
.homeStatement {
    font-family: 'Andale Mono';
    font-size: 30px;
    background: linear-gradient(90deg, #92A8D1, #FFB6C1, #FF7F50);
    -webkit-background-clip: text; /* 텍스트에 배경을 적용 */
    color: transparent;
    margin-top: 5px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #FF7F50; /* 커서 효과 */
    width: 0; /* 시작은 0 크기 */
    animation: typing 3s steps(50) 1s forwards, blink 0.75s step-end infinite; /* 타이핑 애니메이션 후 깜빡임 애니메이션 반복 */
}

.scroll {
    width: 60px; /* 원하는 크기로 설정 */
    position: relative; /* 애니메이션 움직임을 위한 상대 위치 */
    margin-top: -30px;
    animation: scrollDown 1.5s infinite; /* 아래로 스크롤 애니메이션 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    opacity: 70%;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0); /* 처음 위치 */
    }
    50% {
        transform: translateY(15px); /* 아래로 이동 */
    }
    100% {
        transform: translateY(0); /* 다시 원래 위치로 */
    }
}






/* About Me */


.aboutMe {
    z-index: 10 !important;
    display: grid;
    gap: 5px; /* 왼쪽과 오른쪽 간격 */
    height: 100vh; /* 픽셀로 고정 */
    position: relative;
    overflow: hidden; /* 콘텐츠가 섹션 밖으로 넘치지 않도록 설정 */
    grid-template-rows: 15vh 30vh 35vh 20vh; /* 각 행의 높이를 뷰포트 높이로 고정 */
    grid-template-columns: 400px 800px; /* 1:2 비율로 열을 픽셀로 고정 */
    width: 1200px; /* 전체 가로 너비를 1200px로 고정 */
    column-gap: 30px;
}


.namecardBox {
    display: flex;
    justify-content: center; /* 오른쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    position: absolute;
    margin-top: 280px;
    margin-left: 30px;
    grid-row: 1; /* 첫 번째 행 */
    grid-column: 1;
    width: 350px; /* 보드의 크기 */
}

.githubIcon{
    position: absolute;
    top: 250px;
    left: 74px;
    height: 40px;
    width: auto;
}
.linkedinIcon{
    position: absolute;
    top: 250px;
    left: 160px;
    height: 40px;
    width: auto;
}
.emailIcon{
    position: absolute;
    top: 250px;
    left: 245px;
    height: 40px;
    width: auto;

}

.githubIcon:hover{
    height: 45px;
    transition: 0.2s;
}

.linkedinIcon:hover{
    height: 45px;
    transition: 0.2s;

}
.emailIcon:hover{
    height: 45px;
    transition: 0.2s;

}

.UMDText{
    position: absolute;
    top: -149px;
    left: 63px;
    font-size: 20px;
    font-weight: 600;
}

.line{
    position: absolute;
    top: -68px;
    left: 137px;
}

.nameText{
    position: absolute;
    top: -130px;
    left: 90px;
    font-size: 35px;
    font-weight: 400;
    color: white;
}

.LucasText{
    font-weight: 750;
}

.namecardMemoji{
    position: absolute;
    top: -60px;
    left: 55px;
    height: 276px;
}

.nav {
    position: absolute;
    display: flex;
    grid-row: 1; /* 첫 번째 행 */
    grid-column: 2; /* 첫 번째 열부터 세 번째 열 직전까지 */  
    margin-top: 40px;
    margin-left: 270px;
    justify-content:flex-end;
    gap: 40px;
}

.nav li {
    list-style-type: none; /* 목록 스타일 제거 */
}

.nav-link {
    font-family: 'SUIT Variable', monospace;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 26px;
    color: white;
    font-weight: 100;
}

.nav .nav-link.active#aboutMeTab {
    font-weight: 900;
    background: linear-gradient(to right, #c2ffac, #e0fe72, #f9f769, #ece6bc, #fd9993);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase; /* Capitalizes the first letter of each word */

}

.nav .nav-link.active#projectsTab {
    font-weight: 900;
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase; /* Capitalizes the first letter of each word */

}

.nav .nav-link.active#experienceTab {
    font-weight: 900;
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase; /* Capitalizes the first letter of each word */

}

.aboutMeSection{
    display: flex;
    flex-direction: column;
    grid-row: 2/-1; /* 첫 번째 행 */
    grid-column: 2; /* 첫 번째 열부터 세 번째 열 직전까지 */  
    margin-right: 30px;
    align-items: flex-start;
}

.skillsLogo{
    position: absolute;
    display: flex; /* Flexbox 활성화 */
    justify-content:space-around; /* 아이템 간 동일 간격 */
    flex-wrap:nowrap; /* 화면 크기에 따라 자동 줄바꿈 */
    gap: 25px;
    margin-top:20px;
}

.skillsLogo img {
    object-fit: contain; /* 이미지 비율 유지하며 크기에 맞춤 */
}

.javaIcon{
    width: 12%; /* Adjust the width of each icon */
    height: auto; /* Ensures the aspect ratio is preserved */
}
.pythonIcon{
    width: 13%; /* Adjust the width of each icon */
    height: auto; /* Ensures the aspect ratio is preserved */
}
.cIcon{
    width: 13%; /* Adjust the width of each icon */
    height: auto; /* Ensures the aspect ratio is preserved */
}
.htmlIcon{
    width: 9%; /* Adjust the width of each icon */
    height: auto; /* Ensures the aspect ratio is preserved */
}
.cssIcon{
    width: 9%; /* Adjust the width of each icon */
    height: auto; /* Ensures the aspect ratio is preserved */
}
.jsIcon{
    width: 9%; /* Adjust the width of each icon */
    height: auto; /* Ensures the aspect ratio is preserved */
}

.AIDeveloperText{
    position: absolute;
    font-family: 'SUIT Variable', monospace;
    margin-top: 120px;
    text-align: left; /* 문단을 왼쪽으로 정렬 */
    font-size: 100px;
    font-weight: 100;
    line-height: 1.3;
    color: white;
}

.AIText{
    color: #ffe956;
}

.aboutMeDiscription{    
    font-family: 'Pretendard';
    position: absolute;
    margin-top: 240px;
    text-align: left; /* 문단을 왼쪽으로 정렬 */
    font-size: 21.26px;
    letter-spacing: 1.3px; /* Adjust the value for desired spacing */
    line-height: 1.7;
    font-weight: 350;
    overflow: hidden;
    color: white;
}

.yellowHL{
    color: #ffe956;
}


.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
